.color-red {
  color: red;
}

.back-green {
  background-color: blue;
  font-size: 25px;
}


.class3{
    border: 25px solid orange;
}

.hansavi{
    color: brown ;
}

ol li {
    margin-bottom: 10px;
}

